body{
    background-color: lightblue;
}
.card{
    background-color: black;
    color: white;

}
.card-header{
    text-align: center;
}
.container{
    width: 55%;
    align-items: center;
}
